<div class="haid-framed-header clearfix">
    <div class="pull-left">
        <h1>{{class.name}}</h1>
        <h4><span class="class-name">{{class.term}}</span></h4>
    </div>
    {{#link-to "student.enroll" class="join-class btn btn-blue pull-right"}}{{t "classes.joinClass"}}{{/link-to}}
</div>
