<div class="chart-performance-graph">
    <div id="chart_performance"></div>
    <div class="passing-threshold">
        <div class="green-gradient"></div>
        <div class="yellow-line"></div>
        <div class="red-gradient"></div>
    </div>
    <div id="minimumNCLEXProficiencyMarker" class="marker-threshold">
        <span class="glyphicon glyphicon-triangle-right"></span>
    </div>
    <div id="minimumNCLEXProficiency" class="label-threshold">
        {{t "examReports.chart.minimumNCLEXProficiency"}}<span class="glyphicon glyphicon-triangle-right"></span>
    </div>
    <div class="legend">
        <div><span class="green">.</span>{{t "exam.correctAnswer"}}</div>
        <div><span class="red">.</span>{{t "exam.incorrectAnswer"}}</div>
        <div><span class="orange glyphicon glyphicon-minus"></span>{{t "exam.approxPassingThreshold"}}</div>
    </div>
</div>
