{{#if sso}}
    {{#if isXSmall}}
        <!-- Modal for exit app on thePoint -->
        <div class="modal fade" id="exit-app">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>{{t "common.exitMobileApp"}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" {{action 'redirectToThePoint'}}>Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {{/if}}
{{/if}}