<label>
    {{input type="checkbox" checked=checked}}
    <span>{{dataType.name}}</span>
</label>
<em>{{t "chapterFilters.hiddenLong"}}</em>
<em class="alt-text">{{t "chapterFilters.inDevelopment"}}</em>

