<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="tmModalLabel">{{t "common.inactivityTitle"}}</h4>
            </div>
            <div class="modal-body">
                {{t "common.inactivityBodyLine1"}}
                <br>
                {{t "common.inactivityBodyLine2" time=logoutCountdown}}
            </div>
        </div>
    </div>
</div>
