{{#if title}}
    <h2>{{title}}</h2>
{{/if}}

{{view "select" class="custom-select"
    content=sortedItems
    optionValuePath="content.id"
    optionLabelPath="content.name"
    optionGroupPath="group"
    prompt=prompt
    value=data-selected-item}}

{{#if selectedItems}}
    <div class="selected-items">
        {{#each selectedItems as |selected|}}
            <div class="selected-item">
                <span class="selected-item-text">{{selected.name}}</span>
            <span class="selected-item-remove">
                 <a href="#" {{action 'onRemoveItem' selected}}>X</a>
            </span>
            </div>
        {{/each}}
    </div>
{{/if}}
