body.purchase {
	// li.book {
	// 	width:168px;
	// 	margin-right:30px;
	// }
	// .slider .slides li {
	// 	height:400px;
	// }
	section.accordion div.accordion-content-wrapper div.slider .flex-viewport {
		height:386px;
		div.title {
			min-height:40px;
		}
		h6 {
			margin-bottom:8px;
		}
	}
	section.accordion {
		margin-bottom:26px;
	}
}

.sign-in {
	button[type="submit"] {
		margin-bottom:12px;
	}
}