.lww_frame{

    .question-library.container {
        margin-top: 0px;
    }

    .table{
      tr{
        td {
          padding: 15px 0 !important;
        }
      }
    }


	.haid-container{
		.col-md-8{
			width: 70%;
			float: left;
		}

		.col-md-4 {
			width: 30%;
			float: right;
		}
	}
	/*General Style to avoid problem with mediaqueries of bootstrap*/
	.assignments-container{
		.hidden-sm{
			display: table-cell !important;
		}

		.visible-sm{
			display: none !important;
		}
	}

	/*Instructor*/
	.hmcd{
		.col-md-3{
			width: 30%;
			float: left;
		}
		.col-md-9{
			width: 70%;
			float: left;
		}
		.hidden-sm{
			display: table-cell !important;
		}

		.visible-sm{
			display: none !important;
		}

		#overall-usage{
			.chart {
				.secondary {
					> div {

						&:nth-child(1) {
							margin-left: 2%;
							width: 25%
						}

						&:nth-child(2) {
							width: 12%;
						}

						&:nth-child(3) {
							margin-left: 3%;
						}
					}
				}
			}
		}
	}

	.question-library {
        .content-ql {
          margin-top: 42px;
        }
        .menu {
            position: fixed;
            width: 22%;
            .left-menu {
                .collections {
                    max-height: 150px;
                    overflow-y: auto;
                }
            }
        }
        .question-container .qc-wrapper {
            .qc-wrapper-explanation, .qc-wrapper-links {
                padding-left: 20px;
            }
        }

        .question-information {
            $stats-width: 54%;

            width: 85%;

            .answer-choices li {
                .stats {
                    width: $stats-width;
                }
                .answer {

                    &.media {
                        min-width: 100% - $stats-width;
                    }
                    &.text {
                        width: 100% - $stats-width;
                    }
                }
            }
        }

		.right-col-wrapper {
			width: 15%;
		}
	}
  .assign-exam-container {
    margin-bottom:120px;
    .instructions {
      width: 65%;
    }
    .assign-exam-form {
      width: 79%;
      .col-md-6{
        width: 50%;
        float: left;
      }
    }

  }

  .exam-reports{
    width: 100%;
    overflow-x: hidden;

    .col-md-3{
      width: 28%;
      float: left;
    }

    .options-menu{

      .divider{
        background: url("../images/marketing_img/bg-header-border-bottom-clear.png") no-repeat scroll center bottom;
      }

      ul {
        li{
          text-align: left !important;
        }
      }
    }

    .exam-reports-content{
      width: 70% !important;
      float: left !important;
      margin-left: 15px;
      .exam-summary-content{
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
      }

        .exam-reports-header{

          .exams-complete{
            float: left;
            width: 25%;
          }
        }
        .exams-questions{
          float: left;
          width: 30%;

        }
        .exams-average-ml{
          float: left;
          width: 45%;
        }

        div{
          .title{
            font-size: 14px !important;
          }
        }
    }

    .fixed-content{
      left: 266px;
    }
  }

  .exam-reports{
    .graph-container{
      .student-exam-performance-graph{
        .passing-threshold{
          left: 55px;
          .text{
            width: 40% !important;
          }
          .line{
            width: 53% !important;
          }
        }
      }
    }
  }

  .exam-performance{
    .chart-performance-graph {
      .overlay-text {

        .text{
          width: 30% !important;
        }
        .line{
          width: 70% !important;
        }
      }
    }
  }

  .exam-summary{
    width: 100%;
    overflow-x: hidden;
    padding:0;

    .col-md-3{
      width: 28%;
      float: left;
    }

    .options-menu {

      .divider {
        background: url("../images/marketing_img/bg-header-border-bottom-clear.png") no-repeat scroll center bottom;
      }
      ul {
        li {
          text-align: left !important;
        }
      }
    }
    .exam-summary-content{
      width: 70% !important;
      float: left !important;
    }
    .fixed-content{
      left: 272px;
    }

  }

}
