.lww_frame_common {
  .login-header {
    display: none;
  }

  .navbar-default {
    #menu-primary-navigation {
      text-align: center;
      li{
        a{
          padding: 19px 0;
        }
      }
      .menu-assignments {
        width: 130px !important;
      }
      .menu-practiceQuiz {
        width: 130px !important;
      }
    }
  }

  #authenticated-footer
  {
    display: none !important;
  }

  .container{
    width: 880px;
  }

  .class-container-instructor{
    .table{
      .product-column{
        display: none;
      }
    }
  }
}