@media only screen and (max-width:480px) {
  /**************************
  * Home
  **************************/
  a:hover {
    text-decoration: none;
  }

  #prepU {
    float: left;
    margin-left: 10px;
  }
  /**************************
  * Menu Logout
  **************************/
  .mob-logout{
    float: right;
    margin: 40px 25px 0 0;
    font-size: 16px;
    >a {
      color:#333;
    }
    > ul {
      display: none;
      list-style: none;
      position: absolute;
      background: $brand-primary;
      margin-top: 0;
      padding: 0;
      width: 156px;;
    }
    > ul > li > a {
      color: #fff;
      text-align: left;
      display: block;
      padding: 10px 0 10px 15px;
    }
  }

  /**************************
  * Menu
  **************************/
  .mob-menu{
    width: 100%;
    margin: 20px 0 0 0;

    >a {
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #333;
      border-top: 1px solid #ccc;
      padding: 10px 15px;
    }
    >ul {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    >ul li{
      padding: 5px 0;
    }
    >ul li a {
      background: $brand-primary;
      color: #fff;
      display: block;
      text-align: center;
    }
  }

  .container{
    padding-left: 0;
    padding-right: 0;
  }

  .container > .navbar-header, .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }

  .mob-menu-active{
    background: $brand-primary;
    >a{
      font-weight: bold;
      color: #fff;
    }
  }

  .cf {
    margin-top: 10px !important;
  }

  .questions-desc {
    padding: 20px 20px !important;
  }
  .question-action{
    padding: 0 20px !important;
  }
  #quiz_start{
    width: 100%;
  }

  /**************************
  *  Quizzer
  **************************/
  .animate-quiz-content{
      h1{
        font-size: 24px;
      }
      h3{
        font-size: 16px;
      }
  }

  .quiz-container{
    padding: 0 10px;
    .btn-box{
      padding: 0;
    }
    .question-container-dragn-drop{
      .ui-sortable-handle{
        .item{
          margin-left: 0;
        }
      }
    }
    .question-answer-input{
      width: 100%;
    }

    .hotSpot-question{
      .body{
        padding: 10px 0;
        .bg-hotspot{
          border: none;
        }
      }
    }
  }


  .quiz-area{
    h1 {
      margin: 20px 10px;
    }

    .bar-graph-container{
      padding: 0 10px;

      h2{
        font-size: 23px;
      }
    }
  }

  /**************************
  * Result Quiz Page
  **************************/
  .results-header{
    border-radius: 0 !important;
  }
  .result-correctAnswers{
    width: 100% !important;
  }

  #takeAnotherQuiz{
    width: 100%;
  }

  #overallPerformance{
    width: 100%;
  }

  .result-footer{
    float: left;
    width: 98%;
    margin-left: 3px;
  }

  .footer-msg{
    text-align: center;
  }

  /* Quiz Result Page*/
  .result-performance {
    padding: 10px;
  }

  .result-answer-key{
    h2{
      margin-left: 10px;
      font-size: 23px;
    }
    .answerKey-content{
      border-radius: 0;
      width: 100%;
      border-right: none;
      border-left: none;
    }
  }

  /*Header Media Query*/

  .login-header{
    padding-bottom: 0;
    h1#prepU{
      margin-top: 10px;
    }
    .navbar-header {
      float: none;
      padding-left: 10px;
    }
    .menu-username{
      top: 0;
    }
    .menu-dropdown{
      width: 190px;
      .my-profile{
        display: none;
      }

      &.menu-username{
        text-align: right;
        .name{
            width: 145px;
        }
      }

      &.menu-center {
        border-top: 1px solid #e1e1e1;
        margin-top: 4px;
      }
    }

    .navbar-collapse{
      padding: 0;
    }
  }

  .sub-header{
    text-align: center;
    padding-right: 0;
    h1{
      font-size: 25px;
      margin-top: 10px;
    }
    .menu-mob{
      display: block;
    }
    .collapse{
      display: none !important;
    }
    .menu-dropdown{
      margin-top: 0;
    }
    .term-class{
      height: 25px;
      margin-bottom: 0;

      .self-study-join-min{
        display: inline-block;
      }
      .orange {
        text-decoration: none;
      }
    }
    .self-study-join-max{
      display:none;
    }
  }

  .menu-dropdown{
    &.menu-center {
      width: 100%;
    }
    .dropdown-menu {
      width: 100%;
    }
  }

  /**************************
  * How am I doing Page
  **************************/
  .haid-container{
    padding: 0 10px 20px 10px;

    .graph-container{
      border: none;
    }

    .col-md-4{
      float: left;
      .haid-list{
        li{
          margin: 5px 0;
        }
      }

      #take-a-practice-quiz{
        min-width: 100%;
      }

      .haid-strength-weaknesses{
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 20px;
      }
    }
    .bar-graph-container{
      h2{
        font-size: 20px;
        small{
          margin-left: 0;
        }
      }
    }
  }

  /**************************
  * Instructor class
  **************************/
  .class-container-instructor{
    padding: 0 10px;
    h1{
      font-size: 27px;
    }
    .col-sm-6{
      text-align: center;
      float: none;
      width: 100%;
      padding: 0;
      a{
        font-size: 12px;
      }
    }
    h2{
      font-size: 20px;
      text-align: center;
    }
    .table{
      font-size: 14px;

      .code-column{
        display: none;
      }
      .product-column{
        display: none;
      }
    }
  }

  /**************************
  * How my class Doing?
  **************************/
  .hmcd{
    .options-menu{
      ul{
        font-size: 15px;
      }
    }
    .hmcd-content{
      padding: 32px 0 10px 0;
      h2{
        text-align: center;
      }
      .graph-mastery-level{
        border: 1px solid $lighter-gray;
        border: 1px 0 0 0;
        float: none;
        width: 100%;
        min-height: 250px;
      }
      .graph-average{
        border-top: 1px solid $lighter-gray;
        border: 1px 0 0 0;
        float: none;
        width: 100%;
        height: 156px;
        padding-top: 15px;
      }
      .graph-mastery-level-quiz{
        border: 1px solid $lighter-gray;
        border: 1px 0 1px 0;
        min-height: 250px;
      }
      .misconceptions-enroll{
        .icon-box{
          width: 100%;
          float: none;
          text-align: center;
          margin-bottom: 30px
        }
        .explanation-box{
          width: 100%;
          float: none;
        }
      }
    }
    .small-link {
      font-size: 12px;
      float: left;
      width: 100%;
      margin: 25px 0;
    }
    .assignmentResults-title,
    .questionCollectionResults-title,
    .student-usage-title {
      margin: 20px auto;
      text-align: center;
    }
    .strengthsWeaknesses{
      &.bar-graph-container{
        .bar-graph{
          width: 90%;
          .value{
            font-size: 13px;
            font-weight: normal;
            height: 26px;
            line-height: 23px;
            padding: 0 7px;
            top: -7px;
          }
        }
      }
    }
    .assignmentResults-table {
      .sort_name {
        min-width: 130px;
        max-width: 400px;
      }
    }
    .studentUsage-table {

      .sort_masteryLevel {
        width: 120px;
      }
      .xs-last {
        border-right: 1px solid #FFFFFF;
      }
    }
  }

#overall-usage {
    $secondary-top-width: 49%;
    $secondary-height: 18em;

    .chart {
        border: 0 none;

        .header {
            border-top: 1px solid $border-gray;
            border-bottom: 1px solid $border-gray;
            height: auto;

            .primary {
                border-right: 0 none;
                border-bottom: 1px solid $border-gray;
                position: static;
                width: 100%;
                padding: 30px 0;

                > em {
                    margin: 0;
                }
            }
            .secondary {
                display: inline-block;
                border-bottom: 0 none;
                height: auto;
                position: static;

                > div:nth-child(1),
                > div:nth-child(2),
                > div:nth-child(3) {
                    display: block;
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    padding-bottom: 2em;
                    position: static;
                }

                > div:nth-child(1) {
                    padding-top: 1.8em;
                    padding-bottom: 1em;
                }

                > div:nth-child(2) {
                    padding-bottom: 1.6em;

                    span::before {
                        content: '\e094';
                    }
                }

                &.top {
                    width: $secondary-top-width;
                    border-right: 1px solid $border-gray;
                }
                &.bottom {
                    width: 98% - $secondary-top-width;
                }
            }
        }
    }

}

  /**************************
  * Assign a Quiz
  **************************/
  .assign-quiz{
    .stepsContent{
      width: 100%;
    }
    .steps{
      padding-left: 10px;
      padding-right: 10px;
    }
    .step1{
      padding-left: 10px;
      padding-right: 10px;
      ul{
        li{
          .radio-box{
            width: 8%;
          }
          .text-box{
            width: 92%;
          }
        }
      }
      .btn-blue{
        width: 100%;
      }
      .go-back{
          padding:0;
          margin-top: 25px;
          display: block;
          text-align:center;
      }
      p.manage-assignments {
        margin-top: 25px;
        text-align:center;
      }
    }
    .step2{
      padding: 0 10px;

      .assign-quiz .preview a {
          display: none;
      }
    }
    .step3{
      h2{
        margin-left: 10px;
      }
      .section{
        &.dates{
          padding: 0 10px;
        }
        &.points{
          padding: 0 10px;
          .ungrade-box{
            display: block;
            margin: 10px 0 0 0;
          }
        }
        &.classes{
          h4{
            margin-left: 10px;
          }
        }
      }
    }

  }
  /**************************
  * Student Assignments Table
  **************************/
  .assignments-container{
    margin-top: 20px;
    .assignments{
      padding: 20px 10px;
    }
    table.tablesorter{
      .no-arrow{
        &:after {
          content: "" !important;
        }
      }
    }
  }

  /**************************
  * Student Classes List
  **************************/
  .class-container{
    #class-container-section-header{
      display: none;
    }
    .classes-list{
      .no-classes{
        width: 95%;
        position: relative;
        font-size: 16px;
        border: 1px solid $lighter-gray;
        min-height: 100px;
        .left-content, .right-content {
          border: 0;
          position: relative;
          width: 100%;
          min-height:130px;
          height:130px;
          z-index: 0;
          h3{
            margin:10px;
          }
        }
        .right-content{
          border: 0;
          border-top: 1px solid #ccc;
          height: 125px;
          padding: 15px 30px;
        }
        .or-circle{
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 50%;
          display: inline-block;
          height: 50px;
          margin: 0;
          position: absolute;
          left:130px;
          top:105px;
          padding-top: 10px;
          width: 50px;
          z-index: 100;
          font-weight: bold;
        }
      }
    }
  }

  /**************************
  * Question Library
  **************************/
  .question-library{
    .menu{
      .create-ql{
          display: none;
      }
      .form-group{
        text-align: center;
        margin: 0 10px;
        .btn-group{
          width: 100%;
          margin-bottom: 10px;
        }
        a{
          float: none !important;
        }
      }
      .question-set-list{
        padding-left: 10px;    
      }
    }

    .right-col-wrapper{
      float: none;
      width: 100%;
    }
    .question-information{
      float: none;
      width: 100%
    }

    .content-ql{
      padding: 0 10px;
      .search-filter{
        .search-criteria {
          width: 85%;
          input{
            width: 80%;
          }
        }
        .menu-filter {
          width: 15%;
          float: right;
          text-align: right;
          .btn-default{
              .hidden-mob{
                display: none;
              }
          }
          .dropdown-menu{
              right: 0 !important;
              text-align: left;
          }
        }
      }
    }

    .question-container{

      .qc-wrapper {
          .level-scale.question {
              $inactive: #888888;
              $low: #29abe2;
              $medium: #f7811e;
              $high: #FF0000;

              height: auto;
              display: inline-block;
              margin-bottom: 15px;
              border-radius: 5px;
              width: auto;
              padding: 5px 30px 5px 10px;
              color: #FFFFFF;

              .legend {
                  display: inline;

                  &:after {
                      content: ':';
                      margin-right: 3px;
                  }
              }

              .detail {
                  display: inline;
              }

              &.low {
                  background-color: $low;
              }
              &.medium {
                  background-color: $medium;
              }
              &.high {
                  background-color: $high;
              }
              &.calibrating {
                  background-color: $inactive;
                  padding-right: 10px;

                  .legend {
                      transform: rotate(0deg);
                      position: relative;
                      color: #FFFFFF;
                      font-weight: normal;

                      &:after {
                          content: '';
                      }
                  }

                  .detail {
                      display: none;
                  }
              }
          }
      }

      .question-search{
        float: right;
        margin-left: 0;
        h4{
          font-size: 12px;
        }
      }
      .question-sort{
        float: left;
        h4{
          font-size: 12px;
        }
      }
      .question-numbers{
        width:100% !important;
      }
      .max-width{
        width: 100%;
      }
      .button-left{
        margin-left: 0  !important;
      }

      .remove-btn{
        width: 100%;
        display: block;
        text-align: center;
        margin: 0;
      }

      .question-filter {
          width: 100%;
          margin-bottom: 10px;
      }
    }
    .question-information {
      $stats-width: 28%;

      .progress{
        display: none;
      }

      .answer-choices li {
        .stats {
          width: $stats-width;
          min-width: 70px;

          .percentage {
            margin-right: 0.5rem;
          }
          .circle-wrong, .circle-ok {
            margin-left: 0;
          }
        }
        .answer {
          &.media {
            min-width: 100% - $stats-width;
            margin-bottom: 5px;
          }
          &.text {
            width: 100% - $stats-width;
          }
        }
      }
    }

    .chapter-filters .header > a {
        display: none;
    }
  }

  /**************************
  * Assignment Info
  **************************/
  .assignment-info{
    margin-top: 20px;
    width: 100%;
    padding: 20px 10px 0 10px;
    .assignment-content {

        &.one-target {
            > .name {
                width: 100%;
            }
            > .target {
                width: 100%;
            }
        }

      .name{
        width: 100%;
        float: none;
        border-right: none;

        .term{
          font-size: 13px;
        }
      }
      .target{
        text-align: left;
        width: 100%;
        float: none;
        border-left: none;
        border-top: 1px solid $lighter-gray;
        height: 65px;
        position: relative;

        .targets{
          height: 65px;
          padding: 20px 22px;
          font-size: 13px;
        }
        .ml{
          font-size: 13px;
          display: inline;
          margin-left: 5px;
        }
      }
    }

    .details{
      font-size: 13px;
    }

    .number-completed{
      width: 100% !important;
      border-right: 1px solid #ccc;
    }

    .average-score{
      width: 100%;
    }
  }
  /**************************
  * Assignment container instructor
  **************************/
  .assignment-container-instructor{
    .icon{
      color: #000;
    }
    padding: 0 !important;
    .instructor-assignments{
      text-align: center;
      .text-muted{
        float: left;
        width: 100%;
      }
    }

  }
/**************************
  * show more information on tables component
  **************************/
  #mob-details{
    td{
      padding-top: 0 !important;
      background-color: white;
      border-top: none;
    }
    .mdetails-row{
      .mTitle{
        width: 120px;
        color: $light-gray;
        display: block;
        margin-top: 10px;
      }
    }
  }
  .icon{
    color: #000 !important;
  }

  /**************************
  * Btn Box
  **************************/
  .btn-box{
    padding: 0 10px;
    text-align: center;
    .btn-blue{
      width: 100%;
      margin-bottom: 15px;
    }
    .go-back{
      margin: 0;
    }
    .space-btn{
      margin-left: 0;
    }
  }

  /**************************
   * Assignment summary
  **************************/
  .assignment-summary{
    .performance-chapter, .student-results{
      margin-left:10px;
    }

    .performance-chapter{
      h2{
        display:block;
      }
    }
  }

  /**************************
  * Metadata Quiz
  **************************/
  .metadata{
    .select-metadata{
      select {
        width: 98%;
      }
    }
  }

  /**************************
  * Exam Reports
  **************************/
  .exam-reports{
    .options-menu{
      ul {
        li{
          text-align: center !important;
        }
      }
    }
    .divider{
      background: url('#{$img-path}/bg/bg-menu-border-full.png') no-repeat !important;
      width: 100% !important;
    }
  }

  /**************************
  * Result Overview, same style 
  * for quiz and exam result
  **************************/
  .result-overview {
    padding-left: 10px;
    padding-right: 10px;
    .results-header {
      float: none;
      width: 100%;
      margin-bottom: 10px;
      padding: 10px 10px 5px 15px;

      div {
          float: none;
          margin-bottom: 10px;

          &:last-of-type .result-t {
              margin-bottom: 0;
          }
      }

      .result-h {
          margin-bottom: 5px;
      }
      .result-t {
          margin-bottom: 15px;
      }
    }
    .links-content{
      float: none;
      width: 100%;
      border-bottom: 1px solid $lighter-gray;
      ul{
        padding-left: 10px;
        float: none;
      }
    }
  }

  /**************************
  * Exam Results
  **************************/
  .exam-area {
    h2{
      margin-left: 10px;
    }
    .exam-status{
      margin: 10px 20px 15px 20px;
      font-size: 14px;
      position: relative;
      padding-left: 40px;

      .glyphicon-flag {
        font-size: 25px;
        left: 5px;
        position: absolute;
        top: 16px;
      }
    }

    .bar-graph-container{
      margin: 40px 0 10px 10px;
      h2{
        font-size: 20px;
      }
    }

    .performances{

      .performance-tooltip{
        display: none !important;
      }
    }

    .filter-questions{
      display: none;
    }

    .filter-questions-mob{
      display: block;
      font-size: 16px;
      margin: 0 0 25px 10px;
      select{
        margin-left: 10px;
      }
    }
  }

  /**************************
   * Exam Reports
  **************************/
  .examSummary {
      h2 {
          margin-bottom: 35px;
          margin-left: 10px;
      }
      .exam-status {
          margin: 10px 10px 15px 10px;
          font-size: 14px;
          position: relative;
          padding-left: 40px;

          .glyphicon-flag {
              font-size: 25px;
              left: 5px;
              position: absolute;
              top: 16px;
          }
      }
      .explanation-box .exam-reports-header {
          float: none;
          width: 100%;
          margin-bottom: 10px;
          padding: 10px 10px 5px 15px;
          border-radius: 0;

          div {
              float: none;
              margin-bottom: 5px;
              font-weight: normal;

              &.exams-complete,
              &.exams-questions,
              &.exams-average-ml {
                  width: 100%;
              }

              .summary-item-content {
                  margin: 0 0 15px 0;
              }
          }
      }
  }


  /**************************
  * Assignments List
  **************************/
  .assignments-container{
    margin-top: 0;
  }

}

