@media print {

    /* --- Print Question Collection --- */
    header > .login-header,
    header > .sub-header,
    .container.question-library > .menu,
    .container.question-library > .results-content,
    .modal-backdrop {
        display: none;
    }

    .question-library {
        margin-top: 0;
    }

    #preview-modal.print {
        display: block;
        overflow: visible;
        position: static;

        .modal-dialog {
            max-width: none;
            width: 100%;

            .modal-body {

                .question-box {
                    page-break-inside: avoid;
                }

                .answer-key {
                    page-break-before: always;
                }
            }

            .modal-footer {
                display: none;
            }
        }
    }
    /* --- END: Print Question Collection --- */
}

