$smart-sense-icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@font-face {
  font-family: 'smartSenseIcon';
  src:url('#{$smart-sense-icon-font-path}smartSenseIcon.eot');
  src:url('#{$smart-sense-icon-font-path}smartSenseIcon.eot?#iefix') format('embedded-opentype'),
  url('#{$smart-sense-icon-font-path}smartSenseIcon.woff') format('woff'),
  url('#{$smart-sense-icon-font-path}smartSenseIcon.ttf') format('truetype'),
  url('#{$smart-sense-icon-font-path}smartSenseIcon.svg#smartSenseIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'smartSenseIcon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-smartsenseIconBook, .icon-smartsenseIconStethoscope {
  font-family: 'smartSenseIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-smartsenseIconBook:before {
  content: "\e000";
}
.icon-smartsenseIconStethoscope:before {
  content: "\e001";
}