
/* Colors */
$green-color: #44AE44;
$red-bar-color: #AC1C00;
$light-green-color: #67B90A;
$border-gray: #CCCCCC;
$dark-red-color: #B61E00;
$error-textfield-color: #CD1111;
$error-icon-color: #D74400;
$almost-white-container-color: #FAF9F8;
$brand-dark-color: #cc562e;
$brand-light-color: #ee6c34;
$light-gray: #888888;
$lighter-gray: #ccc;
$copy-color: #555;
$darker-copy-color: #666;
$body-copy-font-size:16px;
$h4-font-size:17px;
$small-font-size: 12px;
$medium-font-size: 13px;
$body-copy-line-height:1.6;
$h4-font-color: #444444;
$bar-disable-color: #f4f5f5;
$almost-black-color: #333;
$orange-bar: #eda13e;
$inactive-question-border: #ED5656;
$inactive-question-background: #FDC1C1;
$unassociated-question-border: #EDE056;
$unassociated-question-background: #FDF8C1;
$variant-question-border: rgba(162, 162, 162, 1);
$variant-question-background: #B0B0B0;
$headersColor: #454545;
$text-muted-color: #818181;
$striped-row-color: #f8f8f8;
/*Themometer Color*/
$low-color: #29ABE2;
$medium-color: #f7811e;
$high-color: #ff0000;
$prepu-orange: #ef6b35;
$border-gray-light: #e1e1e1;
$green-correct-select-point: #71b636;
/*PATHS*/
$img-path: "/assets/images";
/* hmcd fixes */
$light-blue-color: #676767;
$almos-bluelight-color: #28839a;
$tablesorter-copy-color: #000;
$overall-headers-color: #565656;
$tablesorter-headers: #818181;
$explanation-color: #6c6c6c;
/*QUESTION LIBRARY*/
$legend-before-color: #919090;
$all-student-en : 'ALL STUDENTS';
$this-class-en : 'THIS CLASS';
$hs-gray-color: #E2E3E2;
