<section class="text-center need-help">
    <div class="container cf">
        <h2 class="section-header dark">{{t "login.titleNeedHelp"}}</h2>
        <nav>
            <ul class="no-list block-grid-3 cf">
                <li class="col-sm-4">
                    <a href="http://prepu.commonmediainc.com/support#biology" data-target="biology" class="wrapper">
                        <div class="icon-background orange">
                            <div class="table-cell">
                                <span class="bio-small"></span>
                            </div>
                        </div>
                        <h4>{{t "login.biology"}}</h4>
                    </a>
                </li>
                <li class="col-sm-4">
                    <a href="http://prepu.commonmediainc.com/support#ap" data-target="ap" class="wrapper">
                        <div class="icon-background orange">
                            <div class="table-cell">
                                <span class="ap-small"></span>
                            </div>
                        </div>
                        <h4>{{t "login.ap"}}</h4>
                    </a>
                </li>
                <li class="col-sm-4">
                    <a href="http://thepoint.lww.com/Template/RenderTemplateByInstanceId/-18#url=support-student" class="wrapper">
                        <div class="icon-background orange">
                            <div class="table-cell">
                                <span class="med-small"></span>
                            </div>
                        </div>
                        <h4>{{t "login.nursing"}}</h4>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>
