.need-help {
	
	h2.section-header{
		margin-top:29px;
		margin-bottom:34px;
	}

	ul.block-grid-3 {
		> li {
			a.wrapper{
				&:hover, &:focus {
					background:#fafafa;
				}
				@include border-radius(3px);
				
				border:1px solid $gray;
				color:#444444;
				display:block;
				margin:25px 20px 10px;
				padding-bottom:24px;
				position:relative;
				text-decoration:none;

				div.icon-background.orange {
					margin:-25px auto 10px;
				}
			}
		}
	}
}

.border-radius.grey-border{
	@include border-radius(3px);
				
	border:1px solid $gray;
	color:#444444;
	display:block;
	padding-bottom:24px;
	position:relative;
	text-decoration:none;
}

.get-started {
	button.btn-orange {
		margin-bottom:29px;
	}
	.border-radius.grey-border {
		color:#222;
		font-weight:600;
		font-size:17px;
		padding:124px 18px 18px;

		img {
			display:block;
			position:absolute;
			left:50%;
			
			&.icon-bio {
				top:33px;
				margin-left:-27px;
			}

			&.icon-ap {
				top:50px;
				margin-left:-43px;
			}	
				
			&.icon-med {
				top:45px;
				margin-left:-28.5px;
			}	

		}
		&:hover, &:focus {
			background:#fafafa;
		}
	}
}
