
<div class="set-ml clearfix" >
    <div class="ml-number">
        <div class="target-title">
            {{t "assignQuiz.target"}}
        </div>
        {{input id="amount" name="amount" type="text" readonly="true" value=view.data-value}}
    </div>
    <div class="ml-line">
        <div id='ml-slider'></div>
    </div>
</div>
