// h2.section-header{
// 	margin-top:36px;
// }
.section-header{

	margin-bottom:32px;
	text-align:center;

	&.light {
		@include styled-light-border-bottom;
		color: #fff;
	}

	&.dark {
		@include styled-dark-border-bottom;
	}
}

div.special-hr {
	@include styled-dark-border-bottom;
}

.text-center {
	text-align:center;
}

.contact-large {
	font-size:21px;
	font-weight:600;
	line-height:1em;
	margin:0;
}

cite {
	font-weight:bold;
	color:#444;
}

.grey {
	color:#444;
	&:hover, &:focus, &:active, a:visited{
		color:#444;
	}
}

span.speech-bubble {
	display:block;
	width:77px;
	height:72px;
	background:transparent url('#{$assetMarketingPath}/speech-bubble.gif') no-repeat left top;
}

.text-white {
	color:#fff;
	a, a:hover, a:focus, a:active, a:visited {
		color:#fff;
		text-decoration:underline;
	}
}

.alternating-fields {
	@include breakpoint($screen-sm) {
		.alternating-arrow {
			display:block;
			height:44px;
			left:50%;
			position:absolute;
			top:50%;
			margin-top:-22px;
			margin-left:-22px;
			width:44px;
			z-index:10;
		}

		li {
			&.even {
				.alternating-arrow {
					background:transparent url('#{$assetMarketingPath}/sprites-arrows.png') no-repeat left bottom;
				}
				.text {
					padding-right:32px;
				}
			}
			&.odd {
				.text {
					padding-left:32px;
				}
				.alternating-arrow {
					background:transparent url('#{$assetMarketingPath}/sprites-arrows.png') no-repeat right top;
				}
			}
		}
	}
	
	@include breakpoint($screen-md) {
		li {
			.text {
				padding-top:20px;
			}
		}
	}

	@include breakpoint(0px $screen-sm) {
		li, .text-right {
			text-align:center;
		}
	}

	h4 {
		font-size:19px;
	}
	
	li {
		margin-bottom:56px;
		position:relative;
	}

	img {
		border:1px solid #d0d0d0;
		@include inline-block;
	}
}

div.paragraph-cols {
	@include column-gap(20px);
	&.paragraph-columns-2{
		@include column-count(2);
	}
	&.paragraph-columns-3{
		@include column-count(3);
	}
	&.paragraph-columns-4{
		@include column-count(4);
	}
}
