// Styles to be used across different components
.filter-modal {

    .modal-dialog .modal-content {

        .modal-header {
            h4 {
                margin: 4px 15px;
            }
        }

        .modal-body {
            h5 {
                margin-left: 15px;
            }
            ul {
                list-style: none;
                padding-left: 15px;
            }
            label {
                margin-left: 4px;
            }
        }

        .modal-footer {
            padding: 15px 20px;

            .btn-blue {
                margin-right: 15px;
            }
        }
    }
}

.import-question-sets-modal,
.modal-question-history {
    $loader: $prepu-orange;

    .modal-dialog .modal-content {

        .modal-header, .modal-footer {
            padding-left: 20px;
        }

        .modal-body {
            min-height: 250px;

            .loading {

                text-align: center;

                > span {
                    font-size: 50px;
                    line-height: 4.5;
                    color: $loader;
                }
            }
        }
    }
}
