.import-question-sets-modal {
    $bold-text: #444444;
    $border: hsl(0, 0%, 88%);

    .modal-dialog {
        max-width: 550px;

        .modal-content {
            padding-bottom: 20px;

            .modal-header {
                text-transform: capitalize;
            }

            .modal-body {
                border: 1px solid $border;
                padding: 0;
                margin: 20px 15px 0 15px;

                #import-question-sets {
                    max-height: 500px;
                    overflow: scroll;
                }

                .question-set {
                    padding: 15px 20px 12px 20px;
                    border-bottom: 1px solid $border;

                    &:last-of-type {
                        border-bottom: 0 none;
                    }

                    b {
                        font-weight: bold;
                        color: $bold-text;
                    }
                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 5px 0 0 0;

                        li {
                            padding: 5px 0;

                            a {
                                font-weight: bold;
                            }
                            span {
                                font-size: 13px;
                                margin-left: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
