.level-scale {
    $background: #FFFFFF;
    $inactive: #888888;
    $low: #29abe2;
    $medium: #f7811e;
    $high: #FF0000;

    position: relative;
    font-size: 12px;

    .graph {
        position: relative;
        margin: 0 auto;

        .image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: transparent;
            width: inherit;
            height: inherit;
        }

        .base {
            position: absolute;
            left: 0;
            bottom: 0;
            width: inherit;
            z-index: 5;
        }

        .level {
            position: absolute;
            left: 0;
            width: inherit;
            z-index: 5;

            .bar {
                left: 0;
                width: inherit;
                position: absolute;
            }
        }

        .overlay {
            display: none;
        }
    }

    .legend {
        text-transform: capitalize;
        text-align: center;
        margin-top: 2px;
        display: block;
    }
    .detail {
        // Hidden by default, useful for smaller screen resolutions
        display: none;
    }

    &.calibrating {
        .base,
        .level > .bar {
            background-color: $inactive;
        }
        .overlay {
            background: #ffffff;
            opacity: 0.86;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: inherit;
            width: inherit;
            z-index: 20;
        }
        .legend {
            text-transform: uppercase;
            color: #29abe2;
            font-weight: bold;
        }
    }
    &.low {
        .base,
        .level > .bar {
            background-color: $low;
        }
    }
    &.medium {
        .base,
        .level > .bar {
            background-color: $medium;
        }
    }
    &.high {
        .base,
        .level > .bar {
            background-color: $high;
        }
    }
}
