.login-calendar-modal {
    $text: #888888;
    $bold-text: #444444;
    $border: hsl(0, 0%, 75%);
    $bg-calendar: #F4F5F5;
    $bg-calendar-content: #FFFFFF;
    $bg-calendar-header-hover: #DDDDDD;
    $calendar-internal-border: hsl(0, 0%, 94%);

    .modal-dialog {
        max-width: 500px;

        .modal-content {
            padding-bottom: 20px;

            .modal-header {
                text-transform: capitalize;
                padding-left: 15px;

                > h4 + div {
                    color: $bold-text;

                    > span {
                        color: $text;

                        &:after {
                            content: ":";
                        }
                    }
                    > em {
                        font-style: normal;
                    }
                }
            }

            .modal-body {
                display: table;
                margin: 25px 20px 0 20px;
                padding: 0;

                > div {
                    display: table-row;

                    > div {
                        display: table-cell;
                    }
                    .calendar {
                        .datepicker {
                            width: auto;
                            padding: 0;
                            border: 1px solid $border;
                            background-color: $bg-calendar;
                            border-radius: 0;

                            table {
                                thead {
                                    tr th {
                                        border-radius: 0;
                                        font-weight: normal;
                                    }

                                    tr:first-child {
                                        th:nth-child(2) {
                                            color: $bold-text;
                                        }
                                        th:hover {
                                            background-color: $bg-calendar-header-hover;
                                        }
                                    }
                                    tr:last-child th {
                                        font-size: 10px;
                                        border-bottom: 1px solid $border;
                                    }
                                }
                                tbody {
                                    tr td {
                                        &.disabled {
                                            background-color: $bg-calendar-content;
                                            font-size: 10px;
                                            padding: 24px 12px 4px 12px;
                                            border-bottom: 1px solid $calendar-internal-border;
                                            border-radius: 0;
                                            width: 40px;
                                            opacity: 1.0;
                                        }
                                        &.logins {
                                            padding-top: 2px;

                                            &:before {
                                                font-size: 14px;
                                                color: $prepu-orange;
                                                display: block;
                                            }
                                        }
                                        &.num-1:before { content: "1"; }
                                        &.num-2:before { content: "2"; }
                                        &.num-3:before { content: "3"; }
                                        &.num-4:before { content: "4"; }
                                        &.num-5:before { content: "5"; }
                                        &.num-6:before { content: "6"; }
                                        &.num-7:before { content: "7"; }
                                        &.num-8:before { content: "8"; }
                                        &.num-9:before { content: "9"; }
                                        &.num-10:before { content: "10"; }
                                        &.num-11:before { content: "11"; }
                                        &.num-12:before { content: "12"; }
                                        &.num-13:before { content: "13"; }
                                        &.num-14:before { content: "14"; }
                                        &.num-15:before { content: "15"; }
                                        &.num-16:before { content: "16"; }
                                        &.num-17:before { content: "17"; }
                                        &.num-18:before { content: "18"; }
                                        &.num-19:before { content: "19"; }
                                        &.num-20:before { content: "20"; }
                                        &.num-21:before { content: "21"; }
                                        &.num-22:before { content: "22"; }
                                        &.num-23:before { content: "23"; }
                                        &.num-24:before { content: "24"; }
                                        &.num-25:before { content: "25"; }
                                        &.num-26:before { content: "26"; }
                                        &.num-27:before { content: "27"; }
                                        &.num-28:before { content: "28"; }
                                        &.num-29:before { content: "29"; }
                                        &.num-30:before { content: "30"; }
                                    }
                                    tr:last-child td {
                                        border-bottom: 0 none;
                                    }
                                }
                            }
                        }
                    }
                    .detail {
                        vertical-align: middle;
                        text-align: center;
                        border-top: 1px solid $border;
                        border-right: 1px solid $border;
                        border-bottom: 1px solid $border;
                        width: 180px;

                        b {
                            color: #444444;
                            text-transform: capitalize;
                            display: block;
                        }
                        em {
                            color: $prepu-orange;
                            font-size: 4.5em;
                            line-height: 1.0;
                            font-style: normal;
                        }
                    }
                }
            }
        }
    }
}
