.modal-question-history {

    .modal-dialog {

        .modal-content {

            .modal-body {
                max-height: 360px;
                overflow: scroll;
                padding: 15px 25px 0 25px;

                ul {
                    list-style: none;
                    padding-left: 0;

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
