.question-references {
  $icon-remediation-color: #6fbb44;
  ul{
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 8px;
      span.icon-remediation{
        color:$icon-remediation-color;
        margin-right: 5px;
      }
      a{
        color: $copy-color;
        text-decoration: none;
        &:hover, &:focus, &:active, a:visited{
          color: $copy-color;
          text-decoration: none;
        }
      }
    }
  }
}