.question-explanation {
    h4 {
        margin: 0;

        > a {
            float: left;
            color: $headersColor;
        }
        &:after {
            content: ':'
        }
    }
    .collapse-icon {
        font-size: 10px;
        top: -1px;
        margin-right: 6px;
    }
    .feedback {
        padding: 15px 15px 5px 15px;
    }

    &.collapsed {
        .feedback {
            display: none;
        }
    }
    &.expanded {
        .collapse-icon {
            transform: rotate(-30deg);
        }
        .feedback {
            display: block;
        }
    }
}
