<div class="section question-media">
    <h4 class="bottom-position image-heading">{{t "questionLibrary.createQuestions.image"}}</h4>
    {{file-upload
        btn-label="common.chooseFile"
        remove-label="common.remove"
        file-information=questionImage}}
</div>
