article.testimonial {
	padding:30px 27px 33px 117px;
	position:relative;
	.speech-bubble {
		position:absolute;
		top:33px;
		left:23px;
	}
}

.single-study_area article .button-row{
	> li {
		padding:0 5px;
	}
	margin-top:24px;
	padding-top:31px;
	background:transparent url('#{$assetMarketingPath}/bg-header-border-bottom.png') no-repeat center top;
}