.research-case-studies li {
	position:relative;
	padding-left:120px;
	padding-right:32px;
}

section.case-studies {
	article {
		margin-bottom:62px;
	}
}

.case-study-icon {
	position:absolute;
	left:19px;
	top:0;
	display:block;
	height:81px;
	width:81px;
	background:transparent url('#{$assetMarketingPath}/case-study-icon.jpg') no-repeat left top;
}

.video-display {
	color:#222;
	font-weight:600;
	font-size:14px;
	figure {
		margin-bottom:18px;
	}
	.grey-border-bottom {
		padding-bottom:38px;
		margin-bottom:50px;
	}
}

body.landing-page-hero.contact {
	section.hero {
		h2.section-header{
			margin-top:0;
		}
		button {
			margin-bottom:12px;
			+ label {
				margin-bottom:12px;
			}
		}
		#landing-page-computer-screen{
			margin-top:58px;
		}
	}
}