
<div class="sakurai-app {{applicationModule}}">
    {{#if isLoading}}
        <div class="loading-panel">
            Loading... <span class="glyphicon glyphicon-refresh animate-spin"></span>
        </div>
    {{/if}}

    {{#if mimic}}
        {{#unless isLoading}}
        <div class="mimic-panel">
            {{t "mimicMode"}}
        </div>
        {{/unless}}
    {{/if}}
{{outlet}} hola
</div>