<footer role="contentinfo" id="authenticated-footer">
	<div class="col-md-4"></div>
	<div class="col-md-4 col-xs-12">
		<p>
            <span>&copy;&nbsp;{{t "footer.copyright"}}</span>
        </p>
	</div>
	<div class="col-md-4"></div>
</footer>
